.aboutmeContainer {
  height: 80vh;
  text-align: center;
}

.mainContainer {
  padding-top: 50px;
}

.description {
  text-align: left;
  color: #808588;
  line-height: 1.9;
  font-size: 18px;
}

@media screen and (max-width: 400px) {
  .description {
    text-align: center;
  }
}
