.contactImg {
  height: 58vh;
  background-image: url("../assets/background2.png");

  text-align: center;
  background-repeat: no-repeat;
}

.padding {
  padding-top: 40px;
  padding-left: 7px;
  padding-right: 7px;
}
