.container {
  height: 75vh;
  background-image: url("../assets/background1.png");

  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.padding {
  padding-left: 7px;
  padding-right: 7px;
}

@media screen and (max-width: 400px) {
  .container {
    height: 60vh;
  }
}
