.background {
  background-color: #050301;
}

.outline {
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  padding-top: 20px;
  height: 75vh;
}
.firstContainer {
  height: 90vh;
  padding-top: 80px;
}
.secondContainer {
  height: 100vh;
  padding-top: 80px;
}
.thirdContainer {
  height: 120vh;
}
.fourthContainer {
  height: 100vh;
}

.contactContainer {
  padding-top: 40px;
  height: 50vh;

  text-align: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .thirdContainer {
    padding-top: 200px;
  }
  .fourthContainer {
    padding-top: 50px;
  }
  .contactContainer {
    padding-top: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .outline {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 850px) {
  .fourthContainer {
    padding-top: 100px;
  }
  .contactContainer {
    padding-top: 450px;
  }
  .secondContainer {
    padding-top: 120px;
  }
}

@media screen and (max-width: 770px) {
  .secondContainer {
    padding-top: 230px;
  }
  .fourthContainer {
    padding-top: 100px;
  }
  .contactContainer {
    padding-top: 600px;
  }
}

@media screen and (max-width: 740px) {
  .fourthContainer {
    padding-top: 170px;
  }
  .contactContainer {
    padding-top: 800px;
  }
}

@media screen and (max-width: 600px) {
  .fourthContainer {
    padding-top: 180px;
  }
}

@media screen and (max-width: 400px) {
  .secondContainer {
    padding-top: 150px;
  }
  .thirdContainer {
    padding-top: 30px;
  }
  .fourthContainer {
    padding-top: 150px;
  }
  .contactContainer {
    padding-top: 550px;
  }
}
