.background {
  background-color: #050301;
}

.outline {
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  padding-top: 20px;
  height: 75vh;
}
.firstContainer {
  height: 90vh;
  padding-top: 80px;
}
.secondContainer {
  height: 100vh;
  padding-top: 80px;
}
.thirdContainer {
  height: 120vh;
}
.fourthContainer {
  height: 100vh;
}

.contactContainer {
  padding-top: 40px;
  height: 50vh;

  text-align: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

/* .ant-progress-status-success .ant-progress-texr {
  color: #c4c4c4;
  background-color: wheat;
} */

@media screen and (max-width: 1000px) {
  .outline {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 800px) {
  .secondContainer {
    padding-top: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .thirdContainer {
    padding-top: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .fourthContainer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .contactContainer {
    padding-top: 350px;
  }
}

@media screen and (max-width: 800px) {
  .contactContainer {
    padding-top: 600px;
  }
}

@media screen and (max-width: 800px) {
  .fourthContainer {
    padding-top: 300px;
  }
}
@media screen and (max-width: 800px) {
  .thirdContainer {
    padding-top: 180px;
  }
}

@media screen and (max-width: 770px) {
  .secondContainer {
    padding-top: 250px;
  }
}

@media screen and (max-width: 770px) {
  .fourthContainer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .fourthContainer {
    padding-top: 120px;
  }
}

@media screen and (max-width: 400px) {
  .secondContainer {
    padding-top: 150px;
  }
  .thirdContainer {
    padding-top: 30px;
  }
  .fourthContainer {
    padding-top: 150px;
  }
  .contactContainer {
    padding-top: 380px;
  }
}
