.projectContainer {
  height: 80vh;
  text-align: center;
}

.projectImage {
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 900px) {
  .projectComp {
    height: 100vh;
  }
}
@media screen and (max-width: 870px) {
  .projectComp {
    height: 120vh;
  }
}
