.resumeContainer {
  height: 150vh;
  text-align: center;
}

.workTimeContainer {
  padding-right: 180px;
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .workTimeContainer {
    padding-right: 100px;
  }
}
@media screen and (max-width: 800px) {
  .workTimeContainer {
    padding-right: 10px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 770px) {
  .workTimeContainer {
    padding-top: 80px;
  }
}
@media screen and (max-width: 400px) {
  .workTimeContainer {
    padding-top: 10px;
  }
}
