.resumeContainer {
  height: 150vh;
  text-align: center;
}

.workTimeContainer {
  padding-right: 180px;
}
@media screen and (max-width: 1000px) {
  .workTimeContainer {
    padding-right: 100px;
  }
}
@media screen and (max-width: 800px) {
  .workTimeContainer {
    padding-right: 10px;
    padding-top: 100px;
  }
}
