.navComp {
  background-color: black;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontalMenu {
  float: right;
}

.ant-menu-item:hover,
.ant-menu .ant-menu-item-selected,
.ant-menu-horizontal .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  color: rgb(29, 229, 255) !important;
  border-bottom: none !important ;
  background-color: black;
}

.ant-menu .ant-menu-item-selected {
  background-color: black;
}

.logo {
  width: 200px;
  float: left;
}

.sns {
  font-size: 23px;
  color: rgb(119, 119, 119);
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 700px) {
  .horizontalMenu {
    display: none;
  }
  .snsComp {
    padding: 20px;
  }
}

@media (min-width: 700px) {
  .hamburgerIcon {
    display: none;
  }
}
