.footerContainer {
  padding-top: 50px;
}
.footer {
  color: #ffffff;
  display: flex;
  background-color: #050301;
  justify-content: center;

  left: 0;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .footerContainer {
    padding-top: 0px;
  }
}
